language: python
os: linux
dist: xenial
sudo: true

matrix:
    include:
        - python: 3.5
        - python: 3.6
        # - python: 3.7
        #   dist: xenial
        #   sudo: true

before_install:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y imagemagick; fi

install:
    - pip install flake8 pylint

script:
    - flake8 pywal tests setup.py
    - pylint pywal tests setup.py
    - python setup.py test
