{{
  "Profiles": [
    {{
      "Name": "wal",
      "Guid": "2349d567-c033-4dbd-9d61-e6d0a7677d5a",
      "Ansi 0 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color0.r_float},
        "Green Component": {color0.g_float},
        "Blue Component": {color0.b_float},
      }},
      "Ansi 1 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color1.r_float},
        "Green Component": {color1.g_float},
        "Blue Component": {color1.b_float},
      }},
      "Ansi 2 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color2.r_float},
        "Green Component": {color2.g_float},
        "Blue Component": {color2.b_float},
      }},
      "Ansi 3 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color3.r_float},
        "Green Component": {color3.g_float},
        "Blue Component": {color3.b_float},
      }},
      "Ansi 4 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color4.r_float},
        "Green Component": {color4.g_float},
        "Blue Component": {color4.b_float},
      }},
      "Ansi 5 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color5.r_float},
        "Green Component": {color5.g_float},
        "Blue Component": {color5.b_float},
      }},
      "Ansi 6 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color6.r_float},
        "Green Component": {color6.g_float},
        "Blue Component": {color6.b_float},
      }},
      "Ansi 7 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color7.r_float},
        "Green Component": {color7.g_float},
        "Blue Component": {color7.b_float},
      }},
      "Ansi 8 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color8.r_float},
        "Green Component": {color8.g_float},
        "Blue Component": {color8.b_float},
      }},
      "Ansi 9 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color9.r_float},
        "Green Component": {color9.g_float},
        "Blue Component": {color9.b_float},
      }},
      "Ansi 10 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color10.r_float},
        "Green Component": {color10.g_float},
        "Blue Component": {color10.b_float},
      }},
      "Ansi 11 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color11.r_float},
        "Green Component": {color11.g_float},
        "Blue Component": {color11.b_float},
      }},
      "Ansi 12 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color12.r_float},
        "Green Component": {color12.g_float},
        "Blue Component": {color12.b_float},
      }},
      "Ansi 13 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color13.r_float},
        "Green Component": {color13.g_float},
        "Blue Component": {color13.b_float},
      }},
      "Ansi 14 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color14.r_float},
        "Green Component": {color14.g_float},
        "Blue Component": {color14.b_float},
      }},
      "Ansi 15 Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color15.r_float},
        "Green Component": {color15.g_float},
        "Blue Component": {color15.b_float},
      }},
      "Bold Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {foreground.r_float},
        "Green Component": {foreground.g_float},
        "Blue Component": {foreground.b_float},
      }},
      "Foreground Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {foreground.r_float},
        "Green Component": {foreground.g_float},
        "Blue Component": {foreground.b_float},
      }},
      "Selection Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color1.r_float},
        "Green Component": {color1.g_float},
        "Blue Component": {color1.b_float},
      }},
      "Selected Text Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {background.r_float},
        "Green Component": {background.g_float},
        "Blue Component": {background.b_float},
      }},
      "Background Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {background.r_float},
        "Green Component": {background.g_float},
        "Blue Component": {background.b_float},
      }},
      "Cursor Text Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {background.r_float},
        "Green Component": {background.g_float},
        "Blue Component": {background.b_float},
      }},
      "Cursor Color": {{
        "Alpha Component": 1,
        "Color Space": "sRGB",
        "Red Component": {color1.r_float},
        "Green Component": {color1.g_float},
        "Blue Component": {color1.b_float},
      }},
    }}
  ]
}}
