gtk-color-scheme = "bg_color: {color0}"
gtk-color-scheme = "fg_color: {color15}"
gtk-color-scheme = "base_color: {color0}"
gtk-color-scheme = "text_color: {color15}"
gtk-color-scheme = "selected_bg_color: {color2}"
gtk-color-scheme = "selected_fg_color: {color0}"
gtk-color-scheme = "tooltip_bg_color: {color2}"
gtk-color-scheme = "tooltip_fg_color: {color15}"
gtk-color-scheme = "titlebar_bg_color: {color2}"
gtk-color-scheme = "titlebar_fg_color: {color15}"
gtk-color-scheme = "menubar_bg_color: {color0}"
gtk-color-scheme = "menubar_fg_color: {color15}"
gtk-color-scheme = "toolbar_bg_color: {color0}"
gtk-color-scheme = "toolbar_fg_color: {color15}"
gtk-color-scheme = "menu_bg_color: {color0}"
gtk-color-scheme = "menu_fg_color: {color15}"
gtk-color-scheme = "panel_bg_color: {color0}"
gtk-color-scheme = "panel_fg_color: {color15}"
gtk-color-scheme = "link_color: {color2}"
