gtk-color-scheme = "bg_color:{color0}\nfg_color:{color15}\nbase_color:{color0}\ntext_color:{color15}\nselected_bg_color:{color2}\nselected_fg_color:{color0}\ntooltip_bg_color:{color2}\ntooltip_fg_color:{color15}\ntitlebar_bg_color:{color2}\ntitlebar_fg_color:{color15}\nmenubar_bg_color:{color0}\nmenubar_fg_color:{color15}\ntoolbar_bg_color:{color0}\ntoolbar_fg_color:{color15}\nmenu_bg_color:{color0}\nmenu_fg_color:{color15}\npanel_bg_color:{color0}\npanel_fg_color:{color15}\nlink_color:{color2}"
