gtk-color-scheme = "background: {background}"
gtk-color-scheme = "foreground: {foreground}"

gtk-color-scheme = "color0: {color0}"
gtk-color-scheme = "color1: {color1}"
gtk-color-scheme = "color2: {color2}"
gtk-color-scheme = "color3: {color3}"
gtk-color-scheme = "color4: {color4}"
gtk-color-scheme = "color5: {color5}"
gtk-color-scheme = "color6: {color6}"
gtk-color-scheme = "color7: {color7}"
gtk-color-scheme = "color8: {color8}"
gtk-color-scheme = "color9: {color9}"
gtk-color-scheme = "color10: {color10}"
gtk-color-scheme = "color11: {color11}"
gtk-color-scheme = "color12: {color12}"
gtk-color-scheme = "color13: {color13}"
gtk-color-scheme = "color14: {color14}"
gtk-color-scheme = "color15: {color15}"
